
body{
margin:0;
  background: url(img/ondas.jpg) ;
  background-attachment: fixed;
  background-size:100%;
  background-repeat:no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: white;
}   

#BemVindo{
    text-align: center;
}

#menu ul{
     margin:0;
     list-style: none;
}

#menu ul li{
  display: inline;   
}   

#menu ul li a{
    padding: 10px  10px;
    display:inline-block;
    text-decoration: none;
    color: white;
}

#menu ul li a:hover{
    transition-duration: 0.5s;
    font-weight: bold;
    color: blueviolet;
}

footer{    
    text-align: center;
    position:absolute;
    bottom:0; 
    width:100%;
    margin-top:100%; 
}